{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ object.preview | media_filter }}" alt="Product Image" class="Image fluid">
            <div class="card-body">
              <p class="card-text">{{ object.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                 <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'catalog:products_list' %}" class="text-black">На главную</a></button>
                <small class="text-body-secondary">{{ object.price }} руб</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}